@model MichaelBrandonMorris.KingsportMillOnboardingChecklist.Models.ActionItemViewModels.CreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Action Item</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="PolicyId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PolicyId" asp-items="ViewBag.PolicySelectList" class="form-control"></select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="AssigneeId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AssigneeId" asp-items="ViewBag.AsigneeSelectList" class="form-control"></select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Type" asp-items="Html.GetEnumSelectList<ActionItemType>()" class="form-control"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </div>      

        <div class="form-group">
            <label asp-for="OnboardingDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="OnboardingDescription" class="form-control"></textarea>
                <span asp-validation-for="OnboardingDescription" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="OffboardingDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="OffboardingDescription" class="form-control"></textarea>
                <span asp-validation-for="OffboardingDescription" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
