@model MichaelBrandonMorris.KingsportMillOnboardingChecklist.Models.ActionItem

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>ActionItem</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CompletedOn" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompletedOn" class="form-control" />
                <span asp-validation-for="CompletedOn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedOn" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
        </div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OffboardingDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OffboardingDescription" class="form-control" />
                <span asp-validation-for="OffboardingDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OnboardingDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OnboardingDescription" class="form-control" />
                <span asp-validation-for="OnboardingDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Type" class="form-control"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
